.no_pad{
    padding:0;
}
section .inner_content.free-watch{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    max-width: 1400px;
}
div.column_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
section.inner_content.no_pad div.column_wrapper div.content_wrapper.no_bottom_pad{
    padding-bottom: 0;
}
section.inner_content.no_pad div.column_wrapper div.content_wrapper{
    padding-right: 0;
    padding-left: 0;
}
div.content_wrapper.wrap{
    flex-wrap: wrap;
}
.no_bottom_pad{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
div.column_wrapper div.content_wrapper{
    max-width: 1400px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:30px;
    padding-bottom: 30px;

}
div.column_wrapper div.column{
    width: 100%;
}
section.inner_content.no_pad div.column_header{
    padding-left: 40px;
    padding-right: 40px;
}
section.inner_content div.column_header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
section.inner_content div.column_header h2{
    margin-right: 20px;
    white-space: nowrap;
}
h2{
    margin: 0;
    font-size: 1.5em;
}
section.inner_content.free-watch div.selector{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    border:1px solid rgba(3,37,65,1);
    border-radius: 30px;
}
section.inner_content div.selector div.anchor{
    position: relative;
    top:0;
    left:0;
    z-index: 1;
}
section.inner_content div.selector h3{
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    padding:4px 20px;
    margin-bottom: 0;
    white-space: nowrap;
}
section.inner_content div.selector h3 a{
    transition: -webkit-text-fill-color 0.5s;
    color:rgba(3,37,65,1);
}
section.inner_content.free-watch div.selector h3 a :hover{
    background-color: rgba(3,37,65,1);
    color: aquamarine;
    border-radius: 30px;
}
section.inner_content  h3 a{
    font-weight: 600;
}
a{
    color: #000;
    text-decoration: none;
    font-weight: normal;
}
section.inner_content.free-watch div.selector .tab-selected h3{
    background-color: rgba(3,37,65,1);
    color: aquamarine;
    border-radius: 30px;
}
section.inner_content.free-watch div.selector .anchor :hover{
    background-color: rgba(3,37,65,1);
    color: aquamarine;
    border-radius: 30px;
    cursor: pointer;
}

div.scroller{
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 10px;
}
div.scroller_wrap{
    position: relative;
    top:0;
    left:0;
}
div.media{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
section.inner_content div.column_content.flex.scroller.loaded{
    min-height: 0;
    height: auto;
}
section.inner_content div.column_content.flex.scroller{
    width: 100%;
    max-width: 1400px;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: height .5s linear;
}
section.inner_content div.column_content.flex{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}

section.inner_content.no_pad div.column_content.flex.scroller > div:first-child{
    margin-left: 40px;
}
section.inner_content div.column_content div.card{
    width: 150px;
    min-width: 150px;
}
section.inner_content div.column_content div.card{
    background: transparent;
    border: none;
    box-shadow: none;
    margin-top: 0;
    overflow: visible;
}
div.media.discover div.card{
    position: relative;
    top:0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 8px;
}
section.inner_content div.column_content div.card + div.card{
    margin-left: 20px;
    margin-top: 0;
}
section.inner_content div.column_content div.card.spacer{
    width: 20px;
    min-width: 20px;
    height: calc(150px * 1.5);
    min-height: calc(150px*1.5);
}
div.scroller_wrap.should_fade.is_fading::after{
    transition: linear 0.3s;
    opacity: 1;
}

::-webkit-scrollbar{
    color: gray;
    height: 0.2em;;
    width:0.2em;
    scrollbar-width: thin;
}
/* ::-webkit-scrollbar{
    width: 5px;
    color: gray;
} */
  /* Track
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0px;
  } */
  ::-webkit-scrollbar-thumb {
    background: #a8a6a3; 
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }
div.scroller_wrap.should_fade::after{
    content: '';
    width: 60px;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
    will-change: opacity;
    pointer-events: none;
}
@media only screen and (min-width:1600px){
    section.inner_content  div.hidden-section{
        display: none;
    }
}
@media only screen and (max-width:375px){
    section.inner_content.free-watch{
        display: flex;
        flex-wrap : wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        box-sizing: border-box;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        max-width: 375px;
    }
    section.inner_content.free-watch div.selector {
        display: none;
    }
    section.inner_content div.hidden-section{
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        align-content: center;
        border:1px solid rgba(3,37,65,1);
        
        border-radius: 30px;
    }
    section.inner_content.free-watch div.hidden-section select.selected-value{
        background: rgba(3,37,65,1);
        border-radius: 15px;
        padding: 10px;
        height: 10%;
        color: aquamarine;
    }
    section.inner_content.free-watch div.hidden-section{
        border-radius: 20px;
    }
    section.inner_content.free-watch div.hidden-section select{
        border-radius: 20px;
        border: rgba(30,213,169, 1);
        border-bottom: 20px;
        border-width: 6px 6px 0 6px;
    }
    select{
        border-radius: 20px;
        cursor: pointer;
        border-width: 5px;
        border-style: solid;
        outline: none;
    }
    option{
        border-radius: 20px;
        cursor: pointer;
        border-width: 5px;
        border-style: solid;
        outline: none;
    }
    section.inner_content.free-watch div.hidden-section select.selected-value option{
        /* color: linear-gradient(to right, rgba(30,213,169, 1) 0%, rgba(1,180,228, 1) 100%); */
        color:black;
        width: 20%;
        background:linear-gradient(to right, rgba(30,213,169, 1) 0%, rgba(1,180,228, 1) 100%);
        background-color: aqua;
        border-radius: 20px;
        cursor: pointer;
    }
}
@media only screen and (min-width:380px) and (max-width:450px){
    .back-image{
        display: flex;
        justify-content: center;
        max-width: 450px;
        height: 7%;
        position: absolute;
        opacity: 0.75;
        filter: blur(0.2);
        background: linear-gradient(to right, rgba(3,37,65, 0.75) 0%, rgba(3,37,65, 0.75) 100%);
    }
    section.inner_content.free-watch{
        display: flex;
        flex-wrap : wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        box-sizing: border-box;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        max-width: 450px;
    }
    section.inner_content.free-watch div.selector {
        display: none;
    }
    section.inner_content.free-watch div.hidden-section{
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        align-content: center;
        border:1px solid rgba(3,37,65,1);
        
        border-radius: 30px;
    }
    section.inner_content.free-watch div.hidden-section select.selected-value{
        background: rgba(3,37,65,1);
        border-radius: 15px;
        padding: 10px;
        height: 10%;
        color: aquamarine;
    }
    section.inner_content.free-watch div.hidden-section{
        border-radius: 20px;
    }
    section.inner_content.free-watch div.hidden-section select{
        border-radius: 20px;
        border: rgba(30,213,169, 1);
        border-bottom: 20px;
        border-width: 6px 6px 0 6px;
    }
    select{
        border-radius: 20px;
        cursor: pointer;
        border-width: 5px;
        border-style: solid;
        outline: none;
    }
    option{
        border-radius: 20px;
        cursor: pointer;
        border-width: 5px;
        border-style: solid;
        outline: none;
    }
    section.inner_content.free-watch div.hidden-section select.selected-value option{
        /* color: linear-gradient(to right, rgba(30,213,169, 1) 0%, rgba(1,180,228, 1) 100%); */
        color:black;
        width: 20%;
        background:linear-gradient(to right, rgba(30,213,169, 1) 0%, rgba(1,180,228, 1) 100%);
        background-color: aqua;
        border-radius: 20px;
        cursor: pointer;
    }
}